@import "tailwindcss";
@plugin "daisyui" {
   themes: fantasy --default;
};
@plugin "@tailwindcss/typography";

body {
   background-image: url(../assets/bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
};